body {
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    
    color: var(--bg) !important;
}

nav a, .hamburger-menu {
    color: var(--bg);
}

.dropdown-menu {
    background-color: transparent;
    border: 1px solid var(--bg);
    backdrop-filter: blur(8px);
}

hr {
    color: var(--bg);
    background-color: var(--bg);
}

.content {
    display: flex;
    gap: 2em;
}

.text {
    display: flex;
    flex: 0 0 calc(60% - 1em);
    flex-direction: column;
    gap: 1em;
}

.text p a {
    color: var(--bg);
    text-decoration: underline;
}

.agenda {
    border-radius: 0.5em;
    border: 1px solid var(--bg);
    backdrop-filter: blur(25px);
    padding: 1em;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.button {
    border: solid 1px var(--bg);
    color: var(--bg);
    border-radius: 100vh;
    font-size: 0.9em;
    padding: 0.8em 1.5em;
    backdrop-filter: blur(25px);

    transition: 0.2s;
}

.button:hover {
    background-color: rgba(20, 24, 54, 0.7);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(40% - 1em);
}

.image img {
    width: 60%;
    max-width: 25vw;
}

@media only screen and (max-width: 1000px) {
    .content {
        flex-direction: column;
    }

    .buttons {
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    nav ul .links a, .hamburger-opened .hamburger-menu {
        color: var(--fg);
    }
}